// Colors
$primary-color: #1890ff;
$border-color: #d9d9d9;
$text-color: #262626;
$background-light: #f0f5ff;

$win-state-background: linear-gradient(135deg, #fff 0%, #f0f2ff 100%);
$lose-state-background: linear-gradient(135deg, #fff 0%, #fff5f5 100%);
$modal-content-background: var(--background-gradient);
$confetti-color: rgba(255, 215, 0, 0.7);
$congratulation-color: #28a745;
$lost-color: #dc3545;


$background-light: #f0f5ff;
$gray-color: #d3d3d3;
$green-color: #82d180;
$yellow-color: #ffeb3b;

$title-color:#1f1f1f;
$intro-description-color:#595959;

$secondary-color: #40a9ff;
$error-color: #ff4d4f;
$background-secondary: #e6e9ec;
$hover-color: #f5f5f5;
$shadow-color: rgba(31, 38, 135, 0.15);



:root {
    --background-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --right-side-gradient: linear-gradient(to right bottom, #e4e2dd, rgba(255, 255, 255, 0.4));
    --box-shadow-color: rgba(31, 38, 135, 0.15);
    --hover-color: lightgreen;
    --hover-text-color: black;
}
